

table {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:50%;
    margin: 0 auto;
    text-align : center;
    margin-top : 40px
}
th { 
    border-width:1px;
    border-style:solid; 
    background-color:rgb(26, 186, 200);
    width:15%;
}
td { 
    border-width:1px;
    border-style:solid; 
    width:15%;
}

.form{
    margin: 15px
}

label{
    margin: 10px
}

.ajout{
    margin: 15px
}